/* .hexagon-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hexagon {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
} */

/* .rectangle-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.rectangle {
  position: absolute;
  border: 2px solid blue;
  background: rgba(0, 0, 255, 0.3);
} */

.rectangle-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

/* Rectangle styling */
.rectangle {
  position: absolute;
  border: 2px solid blue;
  background: rgba(0, 0, 255, 0.3);
}